[submodule "third_party/glog/repository"]
	path = third_party/glog/repository
	url = git@github.com:google/glog.git
[submodule "third_party/gflags/repository"]
	path = third_party/gflags/repository
	url = git@github.com:gflags/gflags.git
[submodule "third_party/eigen/repository"]
	path = third_party/eigen/repository
	url = git@github.com:RLovelett/eigen.git
[submodule "third_party/protobuf/repository"]
	path = third_party/protobuf/repository
	url = git@github.com:google/protobuf.git
[submodule "third_party/gtest/repository"]
	path = third_party/gtest/repository
	url = git@github.com:rzagabe/googletest.git
